body {
  background-color: rgba(25, 0, 200, 0.5);
  color: cyan;
  font-size: 3em;
  font-family: monospace;
}

h1 {
  font-size: 1em;
}
.main {
width: 50%;
height: auto;
position: absolute;
top: 30%;
left: 25%;
}

.content {
  margin: auto;
  text-align: center;
  padding: 3%;
}

input {
  text-decoration: none;
  border: none;
  background-color: white;
  font-size: 0.5em;
  font-family: monospace;
  border-radius: 20%;
  padding: 3%;
  display: inline;
  margin-right: 1.5%;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  margin-left: 1em;
  margin-bottom: 1em;
}

input:hover {
  background-color: black;
  color: white;
  transform: scale(1.2);
}

@media  screen and (max-width:991px)  {
  h1 {
    font-size: 1.5em;
  }
  input {
    font-size: 0.8em;
  }
  main {
    width: 80%;
    margin: auto;
    position: static;
  }
}
