body {
  background-color: rgba(245, 245, 205, 0.5);
  margin: 0;
  font-size: 3.5em;
  font-family: monospace;
  font-weight: 100;
  width: 100%;
}
 .header {
   background-color: black;
   padding-top: 1em;
   padding-left: 0.5em;
   padding-bottom: 1em;
   margin: 0;
   font-size: 0.75em;

 }

.header > a {
  text-decoration: none;
  color: white;
  width: 100%;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: auto;
  padding: 0.45em;
}


.card {
  width: 25%;
  height: auto;
  padding: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  background-color: white;
  border-radius: 10%;
  box-shadow: 5px 10px 18px #888888;

}

.card:hover {
  transform: scale(1.02);
}
.card > h2 {
  font-size: 0.5em
}

.card > p {
  font-size:0.35em;
  text-align: justify;
}

.card > a {
  text-decoration: none;
  font-size: 0.35em;
  background-color: black;
  color: white;
  border-radius: 20%;
  padding: 1em;
  transition: 0.3s;
}
.card > a:hover {
  background-color: cyan;
  color: black;
}

@media  screen and (max-width:991px)  {
  .card {
    margin: auto;
    width: 80%;
    margin-bottom: 1em;
  }
  .grid {
    margin: auto;
    display: block;
  }
}
